/* ==================== GENERAL ==================== */

/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
@import url('https://fonts.googleapis.com/css?family=Open-Sans');

* {
    margin: 0;
    border: 0;
    font-family: sans-serif, 'Open Sans';
}

body,
html,
#root,
.app {
    height: 100%;
}

.grid-wrapper {
    height: 100%;
    min-width: 800px;
    display: grid;
    grid-template-columns: 300px 4fr;
    grid-template-rows: 64px auto;
    grid-template-areas:
        "header header"
        "chatslist chatcontainer"
        "chatslist chatcontainer"
        "chatslist chatcontainer";
}

/* ==================== UTILS ==================== */

.shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
}

.padding-s {
    box-sizing: border-box;
    padding: 4px;
}

.padding-m {
    box-sizing: border-box;
    padding: 8px;
}

.padding-l {
    box-sizing: border-box;
    padding: 12px;
}

.del {
    text-decoration: line-through;
}

.flex-filler { flex: 1 }
.flex-filler-2 { flex: 2 }
.flex-filler-3 { flex: 3 }
.flex-filler-3 { flex: 4 }

/* ==================== FIXES ==================== */

.inner-handle { background-color: #ddd !important; }

/* ==================== GRID ==================== */

.row {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    display: inline-block;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

@media screen and (max-width: 1080px) {
    .wrapper {
        width: 100%;
    }
}
