.left-column {
    width: 350px;
    float: left;
    
    height: 100%;
    position: relative;
    border-right: 1px solid #ddd;
}

.chat-card-no-hover {
    padding: 12px 8px;
    position: relative;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 64px;
}

.chat-card {
    padding: 0.8em;
    cursor: pointer;
    position: relative;
    height: 60px;
}

.chat-card.active {
    background-color: #3498db44;
}

.chat-card:hover {
    background-color: #3498db88;
}

.chat-card .avatar {
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 100px;
    margin-right: 1em;
    border: 3px solid #ffffff00;
    box-sizing: border-box;
}

.chat-card .avatar.online {
    border: 3px solid #2ecc71;
}

.chat-card .title {
    font-weight: bold;
}

.chat-card .status {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 0.8em;
    font-style: italic;
}

.input-field.search {
    width: 100%;
}
