.messages-list {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.message-area-container {
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    /* overflow-y: scroll; */
}

.input-area {
    padding: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
}

.messages-list .header.chat {
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 0;
}
