.home-message {
  font-size: 3em;
  display: inline-block;
  margin-bottom: 8px;
}

.home-message.color {
  font-size: 1em;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  display: inline-block;
}

.home-page-centered-card {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  box-sizing: border-box;
  text-align: center;
  overflow: visible;
  text-align: center;
  border: 0;
}

.left-card-home {
  padding-right: 8px;
  box-sizing: border-box;
  display: inline-block;
  width: 150px;
}

.right-card-home {
  padding-left: 8px;
  box-sizing: border-box;
  display: inline-block;
  width: 150px;
}

@media screen and (max-width: 375px) {
  .home-message {
    font-size: 2em;
  }

  .home-page-centered-card {
    padding: 64px;
  }

  .left-card-home,
  .right-card-home {
    width: 100%;
    padding: 0;
    padding-bottom: 16px;
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .home-page-centered-card {
    padding: 32px;
  }
}
