@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ==================== GENERAL ==================== */

* {
    margin: 0;
    border: 0;
    font-family: sans-serif, 'Roboto';
}

body,
html,
.App,
#root {
    height: 100%;
}

.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wrapper.shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
}

/* ==================== GRID ==================== */

.col-1,
.col-2, 
.col-3,
.col-4, 
.col-5, 
.col-6,
.col-7, 
.col-8, 
.col-9,
.col-10, 
.col-11, 
.col-12 {
    display: inline-block;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.col-6.first { width: 49%; margin-right: 1% }
.col-6.last { width: 49%; margin-left: 1% }

.inner-handle {
    background-color: #ddd !important;
}

@media screen and (max-width: 1300px) {
    .wrapper.shadow {
        width: 100%;
        box-shadow: 0 0 0;
        border-radius: 0;
    }
}