.button {
    border: 2px solid #bbb;
    background-color: #bbbbbb66;
    border-radius: 200px;
    padding: 0.5em 1em;
    outline: 0;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.button:focus {
    border: 2px solid #555;
}

.button:hover {
    border: 2px solid #9b59b6;
    background-color: #9b59b666;
    cursor: pointer;
}