.fixed-body {
    position: absolute;
    top: 72px;
    right: 0;
    bottom: 2em;
    left: 0;
}

@media screen and (max-width: 1300px) {
    .fixed-body {
        top: 64px;
        bottom: 0;
    }
}