.header {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 56px;
    margin-bottom: 1em;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

.header .title {
    color: black;
    padding: 20px 16px;
    line-height: 16px;
    font-weight: bold;
    float: left;
}

.header .nav {
    float: right;
}

.header .nav .item {
    color: #888;
    border-radius: 28px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
}

.header .nav .item:hover {
    background-color: #00000011;
}

.header .nav .material-icons {
    color: rgb(128, 128, 128);
    font-size: 26px;
    line-height: 26px;
    padding: 15px;
}

.header .nav .item .text {
    padding: 20px 20px 20px 0;/* 16px;*/
    line-height: 16px;
    float: right;
    color: rgb(128, 128, 128);
    text-decoration: none;
}

