.home-message {
    font-size: 3em;
    margin-bottom: 8px;
    display: inline-block;
}

.home-message.color {
    font-size: 1em;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
}

.centered-card.clean {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;
    overflow: visible;
    text-align: center;
}

.centered-card.clean:hover {
    box-shadow: 0 0 0;
}

.left-card-home {
    width: 300px;
    padding-left: 150px;
    padding-right: 8px;
    box-sizing: border-box;
    display: inline-block;
}

.right-card-home {
    width: 300px;
    padding-left: 8px;
    padding-right: 150px;
    box-sizing: border-box;
    display: inline-block;
}