.input-field {
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 200px;
    padding: 0.5em 1em;
    height: 40px;
    width: 100%;
    outline: 0;
}

.input-field:focus {
    border: 2px solid #aaa;
}

.input-field.error {
    border: 2px solid #ff0000;
}
