.main-logo {
    width: 48px;
}

.main-title {
    text-align: center;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: 0.2em;
    float: right;
    line-height: 150px;
    margin-left: 32px;
}

.card-title {
    margin: 8px;
}

.centered-card {
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 16px;
    box-sizing: border-box;
    text-align: center;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.centered-card:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.centered-card > * {
    margin: 8px 0 !important;
}
/* .centered-card input,
.centered-card select,
.centered-card button, {
    margin: 8px 0 !important;
} */
