.main-logo {
    display: inline-block;
    height: 3em;
    width: 3em;
    text-align: center;
}

.card-title {
    margin: 8px;
}

.centered-card {
    border-radius: 5px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 16px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 1px solid #ddd;
}

.centered-card > * {
    margin: 8px 0 !important;
}
/* .centered-card input,
.centered-card select,
.centered-card button, {
    margin: 8px 0 !important;
} */

@media screen and (max-width: 1080px) {
    .centered-card {
        border-radius: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 100%;
        transform: translate(0, -50%);
        padding: 16px 32px;
        text-align: center;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        box-shadow: 0 0 0;
        border: 0;
    }
}