.chat-container {
    grid-area: chatcontainer;
    border-right: 1px solid #ddd;
    position: relative;
}

.chat-container .chat-container-header {
    border-bottom: 1px solid #ddd;
    height: 64px;
    box-sizing: border-box;
}

.input-area {
    padding: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
}

.chat-title {
    font-size: 20px;
    line-height: 20px;
    padding: 12px 12px 3px 12px;
    font-weight: bold;
}

.users-list {
    font-size: 16px;
    line-height: 16px;
    padding: 3px 12px 10px 12px;
}
