@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: sans-serif, 'Roboto';
}

.icon {
    width: 300px;
}

select {
    color: #777;
}

.centeredCard {
    width: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: border-box;
}

.inputField {
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 200px;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    width: 100%;
}

.inputField:focus {
    border: 2px solid #aaa;
}

.inputField.half {
    width: 50%;
}

.inputField.third {
    width: 33.3%;
}

.inputField.error {
    border: 2px solid #ff0000;
}

.customButton {
    border: 2px solid #bbb;
    background-color: #ddd;
    border-radius: 200px;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    width: 100%;
}

.customButton:hover {
    border: 2px solid #44dd44;
    background-color: #44dd4444;
    cursor: pointer;
    border-radius: 200px;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    width: 100%;
}

.register-errors {
    text-align: left;
    color: red;
}

.DayPickerInput {
    width: 50%;
    display: inline-block;
}

.DayPickerInput input {
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 200px;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    width: 100%;
}

.DayPickerInput input.error {
    border: 2px solid #ff0000;
}

.DayPickerInput input:focus {
    border: 2px solid #aaa;
}