@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    border: 0;
    font-family: sans-serif, 'Roboto';
}

.main-logo {
    width: 300px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-title {
    width: 500px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: 0.2em;
}

.centered-card {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* ==================== INPUT FIELD ==================== */

.input-field {
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 200px;
    padding: 0.5em 1em;
    display: inline-block;
}

.input-field:focus {
    border: 2px solid #aaa;
}

.input-field.error {
    border: 2px solid #ff0000;
}

/* ==================== CLOSE BUTTON IMG ==================== */

.close-button-img {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

/* ==================== BUTTON ==================== */

.button-container {
    text-align: right;
}

.button {
    border: 2px solid #bbb;
    background-color: #bbbbbb66;
    border-radius: 200px;
    padding: 0.5em 1em;
    outline: 0;
}

.button:hover {
    border: 2px solid #9b59b6;
    background-color: #9b59b666;
    cursor: pointer;
}

.errors-list {
    text-align: left;
    color: red;
}

/* ==================== FLOATING CARD ==================== */

.floating-card-container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: #00000044;
}

.floating-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1em;
    border-radius: 5px;
    background-color: white;
}

/* ==================== SUGGESTIONS LIST ==================== */

.suggestions-list-container {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    z-index: 999;
}

.suggestions-list {
    list-style-type: none;
    position: absolute;
    top: 34.3px;
    left: 0;
    right: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 16.15px;
}

.suggestions-list li {
    padding: 0.4em 0.8em;
    box-sizing: border-box;
    width: 100%;
    border-radius: 16.15px;
}

.suggestions-list li:hover {
    background-color: #ddd;
}

/* ==================== LINE ==================== */

.line {
    width: 100%;
    border-radius: 100px;
    background-color: #eee;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    height: 2em;
    line-height: 1em;
    position: relative;
}

.line .circle-button {
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
    border: 2px solid #bbb;
}

.line .circle-button:hover {
    background-color: #bbb;
    border: 2px solid #444;
}

.line .circle-button img {
    position: absolute;
    top: 0.375em;
    right: 0.375em;
    width: 1em;
    height: 1em;
}

/* ==================== GRID ==================== */

.col-1,
.col-2, 
.col-3,
.col-4, 
.col-5, 
.col-6,
.col-7, 
.col-8, 
.col-9,
.col-10, 
.col-11, 
.col-12 {
    display: inline-block;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.col-6.first { width: 49%; margin-right: 1% }
.col-6.last { width: 49%; margin-left: 1% }
